h1 {
	position : relative;
	text-align: center;
	font-style:normal;
	font-weight:500;
	}

h2 {
	position : relative;
	text-align: center;
	font-style:normal;
	font-weight:500;
	}

h3 {
	position : relative;
	text-align: center;
	font-style:normal;
	font-weight:500;
}

	
p {
	position : relative;
	text-align: center;
	font-style:normal;
	font-weight:500;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

p.chant {
	border-left: 3px #1B1B1B solid;
	border-right: 3px #8B0000 solid;
	font-size:20px;
}

body {
	background: linear-gradient(to left, #1B1B1B, #1B1B1B 50%, #8B0000, #8B0000 50%);
	background-attachment : fixed;
	color:white;
	height:auto;
	}
	
div h2{
	position : relative;
	width:100%;
	top: 0;
	line-height:50px;
	background:rgba(0,0,0,0.5);
	}

iframe {
	display:block;
	margin:0 auto 35px auto;
	width:560px;
	height:315px;
	}
	
video{
	display:block;
	margin:0 auto 35px auto;
	width:560px;
	height:315px;
}

#menu {
	color: black;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 35px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}


#menuToggle a {
  text-decoration: none;
  color: black;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: red;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
 
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */ 
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}



#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

@media screen and (max-width:1400px) {
@media screen and (min-width:1400px) {
	
	h1 {
		position : relative;
		text-align: center;
		font-style:normal;
		font-weight:500;
		}

	h2 {
		position : relative;
		text-align: center;
		font-style:normal;
		font-weight:500;
		}

	h3 {
		position : relative;
		text-align: center;
		font-style:normal;
		font-weight:500;
	}

		
	p {
		position : relative;
		text-align: center;
		font-style:normal;
		font-weight:500;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}

	p.chant {
		border-left: 3px #1B1B1B solid;
		border-right: 3px #8B0000 solid;
		font-size:20px;
	}

	body {
		background: linear-gradient(to left, #1B1B1B, #1B1B1B 50%, #8B0000, #8B0000 50%);
		background-attachment : fixed;
		color:white;
		height:auto;
		}
		
	div h2{
		position : relative;
		width:100%;
		top: 0;
		line-height:50px;
		background:rgba(0,0,0,0.5);
		}

	iframe {
		display:block;
		margin:0 auto 35px auto;
		width:560px;
		height:315px;
		}
		
	video{
		display:block;
		margin:0 auto 35px auto;
		width:560px;
		height:315px;
	}

	#menu {
		color: black;
	}

	#menuToggle {
	  display: block;
	  position: absolute;
	  top: 35px;
	  left: 50px;
	  z-index: 1;
	  -webkit-user-select: none;
	  user-select: none;
	}


	#menuToggle a {
	  text-decoration: none;
	  color: black;
	  
	  transition: color 0.3s ease;
	}

	#menuToggle a:hover {
	  color: red;
	}


	#menuToggle input {
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  cursor: pointer;
	  opacity: 0; /* hide this */
	  z-index: 2; /* and place it over the hamburger */
	  -webkit-touch-callout: none;
	}

	/*
	 * Just a quick hamburger
	 */
	 
	#menuToggle span {
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  
	  background: #cdcdcd;
	  border-radius: 3px;
	  
	  z-index: 1;
	  
	  transform-origin: 4px 0px;
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  opacity 0.55s ease;
	}

	#menuToggle span:first-child {
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2) {
	  transform-origin: 0% 100%;
	}

	/* 
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
	#menuToggle input:checked ~ span {
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}

	/*
	 * But let's hide the middle one.
	 */
	#menuToggle input:checked ~ span:nth-last-child(3) {
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	/*
	 * Ohyeah and the last one should go the other direction
	 */
	#menuToggle input:checked ~ span:nth-last-child(2) {
	  transform: rotate(-45deg) translate(0, -1px);
	}

	/*
	 * Make this absolute positioned
	 * at the top left of the screen
	 */ 
	#menu {
	  position: absolute;
	  width: 300px;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;
	  background: #ededed;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */
	  
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}



	#menu li {
	  padding: 10px 0;
	  font-size: 22px;
	}

	/*
	 * And let's slide it in from the left
	 */
	#menuToggle input:checked ~ ul {
	  transform: none;
	}

}
}